<div class="col-md-8">
  <h2>Available Rentals</h2>
  <div>
    {{#each model.rentals as |rental|}}
       {{rental-tile rental=rental}}
    {{/each}}
  </div>
  {{new-rental save2="save3"}}
</div>

<div class="col-md-4">
  <h2>Announcements</h2>
  <ul>
    {{#each model.announcements as |announcement|}}
      <li>
        <p>Message: {{announcement.message}}</p>
        <p>By {{announcement.author}} on {{announcement.date}}</p>
        <hr>
      </li>
    {{/each}}
  </ul>
</div>
